<h3>Sequence</h3>

<div class="module-sequence-steps">
{{#each module.steps as |step|}}{{module-sequence-step step=step value=step.value}}{{/each}}
</div>

{{#each module.ports as |port|}}{{port-component port=port 
                  select=(action 'selectPort' port) }}{{/each}}<button {{action 'remove'}}>X</button>