a generic module of type {{model.type}}
with ports:

{{#each model.ports as |port|}}
{{port-component  signal=port.signal 
                  direction=port.direction 
                  label=port.label 
                  select=(action 'selectPort' port) }}
{{/each}}
<button {{action 'remove'}}>Remove Module</button>