<h3>Sequence</h3>

<div class="module-sequence-steps">
{{#each module.inputArray.inputs as |valueInput|}}{{value-input valueInput=valueInput value=valueInput.value}}{{/each}}
</div>

{{partial 'module-ports'}}