<h3>Scale</h3>

<div class="module-scale-degrees">
{{#each module.degrees as |degree|}}{{module-scale-degree degree=degree value=degree.value}}{{/each}}
</div>

{{partial 'module-ports'}}<button {{action 'remove'}}>X</button>