<span class='port-component-label'>{{port.label}}</span>
<span class='port-component-signal'>{{if port.isEvent 'E' 'S'}}</span><span class='port-component-direction'>{{if port.isSource 'O' 'I'}}</span>