{{#if shouldIncludeSlider}}
  <div class="value-input-array-sliders">
    {{#each array.items as |item|}}
      {{~value-input-fader 
        min=min
        max=max
        step=step
        value=item.value
      ~}}
    {{/each}}
  </div>
{{/if}}
{{#if shouldIncludeNumber}}
  <div class="value-input-array-numbers">
    {{#each array.items as |item|}}
      {{~value-array-input-number 
        item=item 
        min=min
        max=max
        step=step
      ~}}
    {{/each}}
  </div>
{{/if}}