$color-string-selection: rgba($color-neutral-dark, .4);

.value-input-string {
  background: $color-input-background;
  border: 0;
  border-radius: $input-borderradius;
  color: $color-text;
  display: inline-block;
  line-height: 1.5rem;
  margin: 0;
  padding: .25rem .5rem;
  vertical-align: bottom;
  width: 100%;

  &.pending:focus {
    color: $color-neutral-dark;
    text-shadow: none;
  }

  &:focus {
    background: $color-selected-input-background;
    color: $color-neutral-bright;
    outline: none;
  }

  &::selection {
    background-color: $color-string-selection;
  }

}

.app-sidebar .value-input-string {
  background-color: $color-module-background;

  &:focus {
    background: $color-selected-input-background;
  }
}
