@import 'components/port-component.css';
@import 'components/module.css';
@import 'components/module-sequence-step.css';
@import 'patch.css';

html {
  font-family: Menlo, Monospace;
  font-size: 12px;
  -webkit-font-smoothing: antialiased;
}

h1,h2,h3,h4,h5,h6 {
  font-size: 1rem;
  margin: 0 0 0.5rem 0;
  padding: 0;
}

button {
  height: 1.75rem;
  font-family: Menlo, Monospace;
  font-size: 12px;
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 0.5rem;
  -webkit-font-smoothing: antialiased;
}

.app-header {
  padding: 0.5rem 0;
}

.app-header h1 {
  display: inline-block;
}

.app-header button {
  float: right;
  margin: 0 0 0.5rem 0.5rem;
}

.app-header .patches-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-weight: bold;
  display: inline-block;
}

.app-header .patches-list li {
  display: inline;
}

.app-header .patches-list a {
  border: 1px solid #ddd;
  display: inline-block;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 0.5rem;
  color: #bbb;
}

.app-header .patches-list a.active {
  color: #000;
  border-color: #000;
}