$darkcolor: hsla(198, 65%, 8%, 1);
$lightcolor: lighten($darkcolor, 80%);
$midcolor: desaturate(lighten($darkcolor, 25%), 50%);
$accentcolor1: complement(lighten($darkcolor, 60%));
$accentcolor2: adjust-hue(desaturate(lighten($darkcolor, 50%), 15%), -45deg);

$app-bgcolor: $darkcolor;
$textcolor: rgba($lightcolor, 0.5);

$module-bgcolor: rgba($darkcolor, 0.75);
$module-borderradius: 3px;
$module-bordercolor: rgba($midcolor, 0.25);
$module-labelcolor: $textcolor;

$input-borderradius: 3px;
$input-bordercolor: rgba($lightcolor, 0.25);
$input-dividercolor: $module-bordercolor;
$input-textcolor: $module-labelcolor;
$input-focus-bordercolor: $lightcolor;
$input-current-bgcolor: $input-bordercolor;

$fader-bordercolor: $module-bordercolor;
$fader-bgcolor: rgba($fader-bordercolor, 0.1);
$slider-handle-color: rgba($midcolor, 0.5);

$button-borderradius: 3px;
$button-color: $slider-handle-color;

$port-off-bgcolor: rgba($lightcolor, .15);
$port-on-bgcolor: rgba($lightcolor, .30);
$port-off-textcolor: $module-labelcolor;
$eventport-on-textcolor: $accentcolor1;
$valueport-on-textcolor: $accentcolor2;
$port-connecting-color: rgba($lightcolor, .60);

$lightestgrey: #eee;
$lightgrey: #ddd;
$textgrey: #bbb;
$red: #f00;

$textgrey-inv: #999;
$grey-inv: #555;

@import 'components/port-component';
@import 'components/module';
@import 'components/module-clock';
@import 'components/module-settings';
@import 'components/value-input-number';
@import 'components/value-array-input-number';
@import 'components/value-input-fader';
@import 'components/value-input-numberfader';
@import 'components/patch-diagram';
@import 'components/patch-component';
@import 'components/port-setting';

html, 
input, 
button,
select {
  font-family: 'Source Code Pro', monospace;
  font-size: 11px;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  line-height: 1rem;
  outline: none;
}

body {
  background: $app-bgcolor;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0 0 .5rem;
  padding: 0;
}

button {
  display: inline-block;
  height: 1.75rem;
  margin: 0 0 0 .5rem;
  padding: .25rem .5rem;
  background: $button-color;
  border-radius: $button-borderradius;
  color: $app-bgcolor;
  border: none;
  outline: none;

  &:first-child {
    margin-left: 0;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $lightcolor;
    color: $lightcolor;
  }

  &:active {
    background: $lightcolor;
    color: $app-bgcolor;
  }
}

.app-sidebar {
  padding: 0.75rem 1rem;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 20rem;
  z-index: 100;
  color: $textcolor;
  border-left: 1px solid $module-bordercolor;

  h1 {
    display: inline-block;
    font-weight: 500;
    line-height: 2.25rem;
    margin: 0;
  }

  button {
    float: right;
    margin: .125rem 0 .125rem .5rem;

    &:hover {
      cursor: pointer;
    }
  }

  .app-sidebar-section {
    border-top: 1px solid $module-bordercolor;
    margin-top: .5rem;
    padding-top: .5rem;
  }

}

.patches-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    &::after { 
      content: "/";
    }

    &:last-child::after {
      content: none;
    }
  }

  a {
    color: $textcolor;
    display: inline-block;
    margin: 0;
    padding: 0;

    &.active {
      color: $lightcolor;
      text-decoration: none;
    }

  }

}
