

//BASE PALETTE
$color-neutral-dark: hsla(198, 55%, 8%, 1);
$color-neutral-dim: desaturate(lighten($color-neutral-dark, 25%), 50%);
$color-neutral-bright: lighten($color-neutral-dark, 80%);
$color-cool-bright: complement(lighten($color-neutral-dark, 60%));
$color-warm-bright: adjust-hue(desaturate(lighten($color-neutral-dark, 50%), 15%), -45deg);


//ALPHA VARIANTS
$color-transparent: rgba(0, 0, 0, 0);

//dim border on modules, etc.
$color-border-dim: rgba($color-neutral-bright, .15);

//normal border around input fields, etc.
$color-border-bright: rgba($color-neutral-bright, .15);

//default button background:
$color-button: rgba($color-neutral-bright, .3);

//default text color:
$color-text: rgba($color-neutral-bright, .75);

//subtle background color for faders, etc.:
$color-control: rgba($color-neutral-dim, .1);

//highlighted version for current control:
$color-control-current: rgba($color-neutral-dim, .15);

//transparent module background:
$color-module-background: rgba($color-neutral-dark, .80);
