//BASE PALETTE

//color-neutral-dark
$color-neutral-dark: hsla(198, 65%, 8%, 1);

//color-neutral-mid
$color-neutral-dim: desaturate(lighten($color-neutral-dark, 25%), 50%);

//color-neutral-light
$color-neutral-bright: lighten($color-neutral-dark, 80%);

//color-cool-light
$color-cool-bright: complement(lighten($color-neutral-dark, 60%));

//color-warm-light
$color-warm-bright: adjust-hue(desaturate(lighten($color-neutral-dark, 50%), 15%), -45deg);


//ALPHA VARIANTS

//transparent
$transparent: rgba(0, 0, 0, 0);

//basics
$color-border: rgba($color-neutral-dim, .25);
$color-button: rgba($color-neutral-dim, .5);




$fader-bgcolor: rgba($color-neutral-dim, .1);

//transparent neutral-bright
$port-connecting-color: rgba($color-neutral-bright, .60);
$port-off-bgcolor: rgba($color-neutral-bright, .15);
$port-on-bgcolor: rgba($color-neutral-bright, .30);
$input-bordercolor: rgba($color-neutral-bright, .25);
$textcolor: rgba($color-neutral-bright, .5);

//alias
$eventport-on-textcolor: $color-cool-bright;
$valueport-on-textcolor: $color-warm-bright;
$module-labelcolor: $textcolor;
$input-textcolor: $module-labelcolor;
$input-focus-bordercolor: $color-neutral-bright;
$input-current-bgcolor: $input-bordercolor;
$port-off-textcolor: $textcolor;



