.value-input-number {
  background: $color-input-background;
  border: 0;
  border-radius: $input-borderradius;
  color: $color-text;
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  width: 2.5rem;

  &.pending:focus {
    color: $color-neutral-dark;
    text-shadow: none;
  }

  &:focus {
    background: $color-selected-input-background;
    color: $color-neutral-bright;
    outline: none;
    text-shadow: 0 0 0 $color-neutral-bright;
  }

  &::selection {
    background-color: $color-transparent;
  }

}

.app-sidebar .value-input-number {
  background-color: $color-module-background;

  &:focus {
    background: $color-selected-input-background;
  }
}
