.indicator-blinking {
  flex: 0 0 .75rem;
  margin-top: .33rem;
  position: relative;

  .even-lamp,
  .odd-lamp {
    border-radius: 1rem;
    height: .75rem;
    left: 0;
    position: absolute;
    top: 0;
    width: .75rem;
  }

  .on {
    animation-name: flash-animation;
  }

  @keyframes flash-animation {
    from { background: $color-cool-bright; }
    to   { background: default; }
  }

}
