.indicator-blinking {
  // rem dimensions caused the width and height to be inconsistent due to
  // rounding, so used px instead of rems here.
  border-radius: 4px;
  flex: 0 0 8px;
  height: 8px;
  margin-top: .33rem;

  &.on-even {
    animation-name: flash-animation-even;
  }

  &.on-odd {
    animation-name: flash-animation-odd;
  }

  @keyframes flash-animation-even {
    from { background: $color-cool-bright; }
    to   { background: default; }
  }

  @keyframes flash-animation-odd {
    from { background: $color-cool-bright; }
    to   { background: default; }
  }

}
