.indicator-blinking {
  border-radius: 1rem;
  flex: 0 0 .75rem;
  height: .75rem;
  margin-top: .33rem;

  &.on-even {
    animation-name: flash-animation-even;
  }

  &.on-odd {
    animation-name: flash-animation-odd;
  }

  @keyframes flash-animation-even {
    from { background: $color-cool-bright; }
    to   { background: default; }
  }

  @keyframes flash-animation-odd {
    from { background: $color-cool-bright; }
    to   { background: default; }
  }

}
