<select {{on "change" this.change}}>
  {{#each @items as |item|}}
    <option value="{{item.id}}" selected={{is-equal item.id @selectedItem.id}}>
      {{item.title}}
    </option>
  {{/each}}
</select>
