<div class="app-sidebar-section">
  <h4>{{module.label}} Module</h4>
</div>
{{#if hasSettings}}
  <div class="app-sidebar-section">
    <ul>
      {{#each module.settings as |setting|}}
        <li>
          {{component setting.type setting=setting}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}

{{#if hasPorts}}
  <div class="app-sidebar-section">
    <h4>Ports</h4>
    <ul>
      {{#each module.ports as |port|}}
        <li>
          {{port-setting port=port}}
        </li>
      {{/each}}
    </ul>
  </div>
{{/if}}
