.input {
  display: inline-block;
  vertical-align: bottom;
  border: 1px solid #ddd;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 0;
  height: 1rem;
  width: 1.5rem;
  color: #bbb;
  text-align: center;
}

.input:focus {
  outline: none;
  border-color: red;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.input::selection {
  background-color: transparent;
}

.input.current {
  border-color: #000;
  color: #000;
}