.module-clock-indicator {
  position: relative;
  flex: 0 0 .75rem;
  margin-top: .33rem;

  .evenLamp,
  .oddLamp {
    width: .75rem;
    height: .75rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
  }

  .on {
    animation-name: flash-animation;

  }

  @keyframes flash-animation {
      from { background: $color-cool-bright; }
      to   { background: default; }
  }

}
