.module-clock {

  .button-stop {
    background: $color-cool-bright;

    &:active {
      background: $color-neutral-bright;
    }
  }

  &.started .button-stop {
    background: $color-button;

    &:active {
      background: $color-neutral-bright;
    }
  }

  &.started .button-start {
    background: $color-cool-bright;

    &:active {
      background: $color-neutral-bright;
    }
  }
}
