.module-settings {
  color: $color-text;

  h4 {
    color: $color-text;
    font-weight: 500;
    line-height: 2.25rem;
    margin: 0;
    padding: 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    line-height: 2.25rem;
    list-style-type: none;
  }

  [type=checkbox] {
    margin: 0 .5rem 0 0;
  }

  select {
    background: none;
    border: 0;
    color: $color-text;
    height: 1.75rem;
    margin: 0;
    padding: 0;
    vertical-align: top;
  }

  [type=text] {
    align-self: center;
  }

  .setting-menu-wrapper {
    align-self: center;
    border: 1px solid $color-border-bright;
    border-radius: $input-borderradius;
    display: inline-block;
    flex: 0 0 auto;
    height: 1.75rem;
  }

  .setting-label {
    align-self: center;
    flex: 1 0 auto;
  }

}
