.module-settings {
  color: $color-text;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    line-height: 2rem;
    margin-bottom: 0.5rem;
    list-style-type: none;
  }

  [type=checkbox] {
    margin: 0 .5rem 0 0;
  }

  [type=text] {
    align-self: center;
  }

  .setting-label {
    align-self: center;
    flex: 1 0 auto;
  }

  .module-settings-ports {
    border-top: 1px solid $color-module-background;
    margin-top: 1rem;
    padding-top: 1rem;
  }

}
