.module {
  background-color: $color-module-background;
  border-radius: $module-borderradius;
  color: $color-text;
  display: inline-block;
  overflow: hidden;
  padding: .3rem .15rem .36rem;
  position: absolute;
  z-index: $z-module;

  &:focus {
    background-color: $color-selected-module-background;
    color: $color-neutral-bright;
    cursor: grab;
    outline: none;
    text-shadow: none;
    z-index: $z-selected-module;

    h3 {
      cursor: grab;
    }
  }

  &.is-new {
    cursor: grab;
    z-index: $z-new-module;

    h3 {
      cursor: grab;
    }
  }

  h3 {
    cursor: pointer;
    flex: 1 1 auto;
    font-weight: 700;
    line-height: 1.5rem;
    margin: 0 .5rem;
  }

  .module-content {
    display: inline-block;
    margin: .25rem .5rem;
  }

  .module-header {
    margin-right: .5rem;
  }

}
