.module {
  box-shadow: inset 0px 0px 0px 1px #ddd;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.5rem 0 0 0.5rem;
  color: #bbb;
  position: absolute;
  background-color: rgba(255,255,255,0.66);
  display: inline-block;

  &:focus {
    box-shadow: inset 0px 0px 0px 1px red;
    outline: none;
  }

  h3 {
    color: #000;
  }

}