.module-settings {
  background: $darkcolor;
  border-top-left-radius: $module-borderradius;
  bottom: 0;
  color: $textgrey-inv;
  padding: .5rem;
  position: absolute;
  right: 0;
  
  &.empty {
    display: none;
  }

  h4 {
    line-height: 1.5rem;
    padding: .5rem .5rem 0;
  }

  ul {
    margin: 0;
    padding: 0 0 0 .5rem;
  }

  li {
    list-style-type: none;
  }

  [type=checkbox] {
    margin: 0 .5rem 0 0;
  }

}
