.module {
  background-color: $module-bgcolor;
  border-radius: $module-borderradius;
  box-shadow: inset 0 0 0 1px $module-bordercolor;
  color: $textgrey;
  display: inline-block;
  overflow: hidden;
  padding: 0;
  position: absolute;

  &:focus {
    box-shadow: inset 0 0 0 1px $lightcolor;
    outline: none;
  }

  h3 {
    color: $lightcolor;
    line-height: 1.75rem;
    margin: 0 .5rem;
  }

  .module-content {
    display: inline-block;
    margin: 0 .5rem .5rem;
  }

}
