.patch {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;

  .modules {
    position: relative;
    width: 200%; // so modules don't hit left boundary of window
  }
}

.patch-connections {
  bottom: 0;
  left: 0;
  padding: 1rem;
  position: absolute;
  right: 0;
  z-index: $z-patch-diagram;
}
