.port-setting {
  .setting-label {
    color: $textcolor;
  }

  &.connected.enabled {
    &.event-port-setting {
      .setting-label {
        color: $accentcolor1;
      }
    }

    &.value-port-setting {
      .setting-label {
        color: $accentcolor2;
      }
    }
  }

}
