.port-setting {
  .setting-label {
    color: $settings-mid-color;
  }

  &.connected.enabled {
    .setting-label {
      color: $settings-light-color;
    }
  }

  &.enabled {
    .setting-label {
      color: $settings-mid-color;
    }
  }
}
