.port {
  background: $port-off-bgcolor;
  color: $port-off-textcolor;
  cursor: pointer;
  display: inline-block;
  padding: 0 .5rem;

  &:first-child {
    box-shadow: none;
    margin: 0;
  }

  &:focus {
    outline: none;
  }

  &.connected {
    //background: $port-on-bgcolor;
    color: $black;
  }
}

.new-connection .port {
  //background-color: $port-off-bgcolor;
  //color: $port-off-textcolor;
  cursor: default;

  &.connecting-from {
    background-color: $white;
    color: $black;
  }

}

.port-component-label,
.port-component-type {
  line-height: 1.75rem;
}

.port-component-type {
  letter-spacing: -1px;
}

.new-connection-from-port-event-in .port-event-out,
.new-connection-from-port-event-out .port-event-in,
.new-connection-from-port-value-in .port-value-out,
.new-connection-from-port-value-out .port-value-in {
  background-color: $white;
  //color: $black;
  cursor: pointer;
}

