.port {
  color: $color-text;
  cursor: pointer;
  display: inline-block;
  margin: 0;
  padding: 0 .5rem 0 0;

  &:first-child {
    padding-left: .5rem;
  }

  &:focus {
    outline: none;
  }

}

.port-event.connected {
  color: $color-cool-bright;
}

.port-value.connected {
  color: $color-warm-bright;
}

.new-connection {
  .port {
    color: $color-text;
    cursor: default;
  }

  .port-event.connecting-from {
    color: $color-cool-bright;
  }

  .port-value.connecting-from {
    color: $color-warm-bright;
  }
} 

.port-component-label {
  line-height: 1.75rem;
}

.new-connection-from-port-event-in .port-event-out,
.new-connection-from-port-event-out .port-event-in,
.new-connection-from-port-value-in .port-value-out,
.new-connection-from-port-value-out .port-value-in {
  &.port-value {
    color: $color-warm-bright;
    cursor: pointer;
  }
  
  &.port-event {
    color: $color-cool-bright;
    cursor: pointer;
  }
}

