.value-array-input-number {
  border-radius: 0;
  border-right: 0;

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-right: 1px solid $color-border-bright;
    border-top-right-radius: $input-borderradius;
  }

  &:focus {
    border: 1px solid $color-neutral-bright;
    border-right: 0;

    &:last-child {
      border-right: 1px solid $color-neutral-bright;
    }

    + .value-array-input-number {
      border-left: 1px solid $color-neutral-bright;
    }
  }

  &.current {
    border: 1px solid $color-warm-bright;
    border-right: 0;
    color: $color-warm-bright;

    + .value-array-input-number {
      border-left: 1px solid $color-warm-bright;
    }

    &:last-child {
      border-right: 1px solid $color-warm-bright;
    }

    &:focus {
      background: $color-border-bright;
      border: 1px solid $color-neutral-bright;
      border-right: 0;
    }

    &:focus:last-child {
      border-right: 1px solid $color-neutral-bright;
    }
  }

}
