$toggle-borderradius: 2px;
$toggle-inset: 6px;
$toggle-accent-inset: 3px;

.value-array-input-button {

  background: $color-control;
  border-radius: 0;
  margin-left: 1px;
  padding: 0;
  position: relative;
  width: 1.75rem;

  &.current {
    background: $color-control-current;

    &.on::before {
      background: $color-warm-bright;
    }
  }

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-top-right-radius: $input-borderradius;
  }

  &.on::before { 
    background: $color-button;
    border-radius: $toggle-borderradius;
    bottom: $toggle-inset;
    color: $color-transparent;
    content: '-';
    left: $toggle-inset;
    position: absolute;
    right: $toggle-inset;
    top: $toggle-inset;
  }

  &.accent::before {
    bottom: $toggle-accent-inset;
    left: $toggle-accent-inset;
    right: $toggle-accent-inset;
    top: $toggle-accent-inset;
  }
}
