.value-input {
  display: inline-block;
  vertical-align: bottom;
  box-shadow: 0px 0px 0px 1px #ddd;
  border: none;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0.25rem 0;
  height: 1rem;
  width: 1.5rem;
  color: #bbb;
  text-align: center;
}

.value-input:focus {
  outline: none;
  box-shadow: 0px 0px 0px 1px red;
  color: transparent;
  text-shadow: 0 0 0 #000;
}

.value-input::selection {
  background-color: transparent;
}

.value-input.current {
  box-shadow: 0px 0px 0px 1px #000;
  color: #000;
}