.value-input-number {
  background: none;
  border: 0;
  border-radius: $input-borderradius;
  border: 1px solid $input-bordercolor;
  color: $input-textcolor;
  display: inline-block;
  height: 1.75rem;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  width: 1.75rem;

  &.pending:focus {
    text-shadow: 0 0 0 rgba($lightcolor, .5);
  }

  &:focus {
    background: $darkcolor;
    color: rgba($lightcolor, .25);
    outline: none;
    text-shadow: 0 0 0 $lightcolor;
  }

  &::selection {
    background-color: transparent;
  }

}
