.value-input-number {
  background: none;
  border: 1px solid $color-border-bright;
  border-radius: $input-borderradius;
  color: $color-text;
  display: inline-block;
  height: 1.75rem;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  width: 1.75rem;

  &.pending:focus {
    text-shadow: 0 0 0 $color-text;
    color: $transparent;
  }

  &:focus {
    background: $color-neutral-dark;
    color: $transparent;
    outline: none;
    text-shadow: 0 0 0 $color-neutral-bright;
  }

  &::selection {
    background-color: transparent;
  }

}
