.value-array-input-number {
  border-radius: 0;
  border-right: 0;

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-right: 1px solid $input-bordercolor;
    border-top-right-radius: $input-borderradius;
  }

  &:focus {
    border: 1px solid $lightcolor;
    border-right: 0;

    &:last-child {
      border-right: 1px solid $lightcolor;
    }

    + .value-array-input-number {
      border-left: 1px solid $lightcolor;
    }
  }

  &.current {
    border: 1px solid $accentcolor2;
    border-right: 0;
    color: $accentcolor2;

    + .value-array-input-number {
      border-left: 1px solid $accentcolor2;
    }

    &:last-child {
      border-right: 1px solid $accentcolor2;
    }

    &:focus {
      background: $input-current-bgcolor;
      border: 1px solid $lightcolor;
      border-right: 0;
    }

    &:focus:last-child {
      border-right: 1px solid $lightcolor;
    }
  }

}
