.value-array-input-number {
  border-radius: 0;
  margin-right: 1px;

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-top-right-radius: $input-borderradius;
    margin-right: 0;
  }

  &.current {
    color: $color-neutral-bright;
    background: linear-gradient(rgba($color-warm-bright, 0.5), rgba($color-warm-bright, 0.5)),
    rgba($color-neutral-dark, 0.8);

    &:focus {
      background: linear-gradient(rgba($color-warm-bright, 0.5), rgba($color-warm-bright, 0.5)),
      $color-selected-input-background;
    }

  }

}
