.value-input-number {
  background: $color-sidebar-background;
  // border: 1px solid $color-border-bright;
  border: none;
  border-radius: $input-borderradius;
  color: $color-text;
  display: inline-block;
  height: 2rem;
  margin: 0;
  padding: 0;
  text-align: center;
  vertical-align: bottom;
  width: 2rem;

  &.pending:focus {
    color: $color-neutral-dim;
  }

  &:focus {
    background: $color-neutral-dark;
    // border: 1px solid $color-neutral-bright;
    color: $color-transparent;
    outline: none;
    text-shadow: 0 0 0 $color-neutral-bright;
  }

  &::selection {
    background-color: $color-transparent;
  }

}
