{{partial 'module-label'}}

<div class="module-content">
{{value-input-array 
  array=module.steps 
  inputType=module.inputType 
  min=module.inputMin 
  max=module.inputMax 
  step=module.inputStep
}}
</div>

{{partial 'module-ports'}}