{{partial 'module-label'}}

<div class="module-content">
{{#each module.steps.items as |item|}}
{{~component module.inputType 
  item=item 
  min=module.inputMin
  max=module.inputMax
  step=module.inputStep
~}}
{{/each}}
</div>

{{partial 'module-ports'}}