{{partial 'module-label'}}

<div class="module-content">
{{value-input-array 
  array=module.steps 
  inputType=module.inputType
  displayScale=module.displayScale
}}
</div>

{{partial 'module-ports'}}