<div class="app-sidebar-section"><h4>Patch</h4></div>
<div class="app-sidebar-section">
  <ul>
    <li><ValueInputString @boundValue={{this.patch.title}} @canBeEmpty={{false}} @valueUpdated={{this.titleChanged}} /></li>
    <li><button {{on "click" this.removePatch}}>Delete Patch</button></li>
  </ul>
</div>
