<label class="setting-label">
  {{input type="checkbox" checked=port.isEnabled}}
  {{labelWithType}}
</label>
{{#if portIsValueIn}}
  {{#unless port.isEnabled}}
    {{value-input-number
      boundValue=port.disabledValue
      canBeEmpty=port.canBeEmpty
      minValue=port.minValue
      maxValue=port.maxValue
    }}
  {{/unless}}
{{/if}}
