$toggle-size: 4px;
$toggle-borderradius: $toggle-size / 2;
$toggle-accent-size: 8px;
$toggle-accent-borderradius: $toggle-accent-size / 2;

.value-array-input-button {

  background: $color-input-background;
  border-radius: 0;
  margin-left: 1px;
  padding: 0;
  position: relative;
  width: 2.5rem;
  vertical-align: bottom;

  &.current {
    background: linear-gradient($color-current-input-highlight, $color-current-input-highlight),
    $color-input-background;
    color: $color-neutral-bright;

    &::before {
      color: $color-transparent;
    }

    &.on::before {
      background: $color-neutral-bright;
    }
  }

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-top-right-radius: $input-borderradius;
  }

  &::before {
    content: '-';
    width: $toggle-size;
    height: $toggle-size;
    position: absolute;
    top: 9px;
    left: 12px;
  }

  &.on::before {
    background: $color-text;
    border-radius: $toggle-borderradius;
    color: $color-transparent;
  }

  &.accent::before {
    width: $toggle-accent-size;
    height: $toggle-accent-size;
    border-radius: $toggle-accent-borderradius;
    top: 7px;
    left: 10px;
  }
}
