$color-current-input-highlight: rgba($color-warm-bright, .5);

.value-array-input-number {
  border-radius: 0;
  margin-right: 1px;

  &:first-child {
    border-bottom-left-radius: $input-borderradius;
    border-top-left-radius: $input-borderradius;
  }

  &:last-child {
    border-bottom-right-radius: $input-borderradius;
    border-top-right-radius: $input-borderradius;
    margin-right: 0;
  }

  &.current {
    background: linear-gradient($color-current-input-highlight, $color-current-input-highlight),
    $color-input-background;
    color: $color-neutral-bright;

    &:focus {
      background: linear-gradient($color-current-input-highlight, $color-current-input-highlight),
      $color-input-background;
    }

  }

}
