<h1>Patches</h1>
<button {{action 'new'}}>Add</button><button {{action 'removeCurrentPatch'}}>Remove</button>
<ul class="patches-list">
  {{#each model as |patch index|}}<li>{{#link-to 'patch' patch}}
        {{index}}
      {{/link-to}}</li>{{/each}}
</ul>
{{outlet}}