<div class ="app-header">
<h1>Cam/MSP</h1>
{{patch-menu patches=model selectedPatch=currentPatch patchChanged=(action 'patchChanged')}}
<button {{action 'newPatch'}}>New</button>
</div>
<div class="app-sidebar">
  <section class="app-sidebar-section">
    <button {{action 'removeCurrentPatch'}}>Del</button>
  </section>
  <section id="module-settings-container">
  </section>
</div>
{{outlet}}
