{{model.name}}
<button {{action 'addModule'}}>Add Module</button>

<ul class="modules-list">
  {{#each model.modules as |module|}}
    <li>
        {{component 'module-generic' module=module patch=model removeModule='removeModule'}}
    </li>
  {{/each}}
</ul>